.text-color{
	color: #8745ff;
}
.text-main-hover{
	color: #BA7ACE;
}

.bg-main{
	background-color: #8745ff;
}
.bg-main-hover{
	background-color: #BA7ACE;
}
.p-all{
	padding: 20rpx;
}
.p-l{
	padding-left: 20rpx;
}
.p-t{
	padding-top: 20rpx;
}
.p-b{
	padding-bottom: 20rpx;
}
.p-r{
	padding-right: 20rpx;
}



